<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <form #companyForm="ngForm" (submit)="save(company);" ngNativeValidate>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Clave:</label>
              <input type="text" class="form-control" #codeInput id="code" [value]="company.code" (change)="company.code = codeInput.value" placeholder="Clave ..." required>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Razón social:</label>
              <input type="text" class="form-control"  #descriptionInput id="description" [value]="company.description" (change)="company.description = descriptionInput.value" placeholder="Razón Social ..." required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Dirección:</label>
              <input type="text" class="form-control" #addressInput id="address" [value]="company.address" (change)="company.address = addressInput.value" placeholder="Dirección ...">
            </div>
          </div>
        </div>
        <div  class="container-fluid text-center">
          <a class="btn btn-app" routerLink="/admin/sucursales">
            <i class="fa fa-arrow-circle-left"></i> Cancelar
          </a>
          <button type="submit" class="btn btn-app"><i class="fa fa-save"></i>Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>  